/* BEGIN RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* RESET END */

* {
  margin: 0;
  color: white;
  overflow: hidden;
}

html, body {
  min-height: 100%;
  width: 100%;
}

.all-non-footer-content-container {
  background-color: black; 
  min-height: 100vh;
}

header {
  background-color: darkgrey;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  margin: 2%;
}

.header-right nav {
  display: flex;
  justify-content: stretch;
  transform: translateX(-50%);
}

.header-right nav a {
  background-color: black;
  padding: 5%;
  text-decoration: none;
  color: white;
}

.header-right nav a:hover {
  background-color: lightgrey;
  color: black;
}

h2 {
  font-size: 2em;
  color: black;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-box-container {
  height: 50vh;
  width: 100vh;
  padding: 0.7rem;
  margin: 5% 0 5% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
} 

.big-box {
  width: 100%;
  height: 100%;
  background-image: url('https://picsum.photos/1000');
  background-repead: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-box-center-content {
  height: 50%;
  transform: translateY(5%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1 {
  color: white;
  background-color: black;
  font-size: 3.4em;
  line-height: 1.2em;
  padding: 0 .25em 0 .25em;
  margin: 0 0 .25em 0;
  text-align: center;
}

.big-box-center-content a {
  padding: 0.9em;
  text-decoration: none;
  background-color: black;
  color: white;
}

.big-box a:hover {
  background-color: white;
  color: black;
}

.small-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  width: 100%;
  min-height: 80vh;
  justify-items: center;
}

.img-and-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-and-caption p {
  margin: 2%;
}

footer {
  min-height: 10%;
  background-color: darkgrey;
}

footer nav {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer nav a {
  background-color: black;
  text-decoration: none;
  display: inline-block;
  margin: 2%;
  height: 2.5rem;
  line-height: 2.5rem;
  min-width: 5rem;
  padding: 0.1% 1% 0.1%; 1%;
  text-align: center;
  color: white;
}

footer nav a:hover {
  background-color: lightgrey;
  color: black;
}

@media (max-width: 800px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  h2 {
    height: 4rem;
    line-height: 4rem;
  }

  .header-right {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .header-right nav {
    transform: translateX(0);
    justify-content: center;
    width: 100%;
  }

  .header-right nav a {
    text-align: center;
    font-size: 1.5rem;
    width: 25%;
    border-right: 0.5px solid white;
    border-left: 0.5px solid white;
    border-bottom: 1px solid white;
  }

  #top-link {
    border-left: none;
  }
 
  #bottom-link {
    border-right: none;
  }

  .small-boxes {
    display: flex;
    flex-direction: column;
  }

  .img-and-caption {
    justify-content: space-around;
    margin: 2%;
  }

}

@media (max-width: 500px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .header-left {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    width: 70vw;
    text-align: center;
  }
 
  h2 {
    font-size: 3rem;
    text-align: center;
  }
  
  .header-right nav {
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  .header-right nav a {
    height: 5vh;
    line-height: 5vh;
    width: 100%;
    border-radius: 0;
    text-align: center;
    font-size: 1.5em;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
    margin: 0;
  }

  #top-link {
    border-top: none;
  }

  .big-box-container {
    width: 100vw;
    overflow: xhidden;
  }

  .big-box {
    width: 100em;
  }

}
